@{
  Layout = "_Layout";
}

@using ToDoList.Models;


<h1>Dr. Sneuss's Factory</h1>
<h2>Where Thing-a-ma-Boppers are made by Thing-a-Machines and where Thing-a-Machines are made by Imagineers</h2>

<p>@Html.ActionLink("Go to the Imagineers departement", "Index", "Engineers")</p>
<p>@Html.ActionLink("Go to the Thing-a-Machines departement", "Index", "Machines")</p>